
<h1>Comunicación entre componentes Angular</h1>
<br>
<h5>@Input</h5>
<p>
    Es un decorador que se utiliza para pasar datos desde un componente padre a un componente hijo. 
    Esto permite que los componentes hijos reciban datos o propiedades de sus componentes padres, 
    lo que facilita la comunicación entre componentes en una aplicación Angular. 
</p>
<br>
<h5>@Output</h5>
<p>
    Es un decorador que se utiliza para emitir eventos personalizados desde un componente hijo hacia un 
    componente padre. Esto permite que los componentes hijos notifiquen a los componentes padres sobre 
    eventos, como clics de botón, cambios de estado, o cualquier otro tipo de interacción.
</p>
<br>
<h5>Servicio</h5>
<p>
    La comunicación entre componentes a través de un servicio es una técnica muy útil en Angular para 
    permitir que los componentes se comuniquen de manera efectiva sin depender de la jerarquía de 
    componentes o de eventos personalizados. Un servicio actúa como intermediario para compartir datos y 
    lógica entre componentes.
</p>
<br>
<h5>Ruta</h5>
<p>
    La comunicación entre componentes a través de una ruta en Angular se puede lograr utilizando parámetros 
    de ruta o consultas de ruta para transmitir información entre componentes cuando se navega de una vista a otra.
    Las dos opciones son: <b>a través de parametros de ruta y a traves de consulta de ruta</b>.
</p>
<br>
<h5>RxJs</h5>
<p>
    La comunicación entre componentes a través de RxJS en Angular es una técnica poderosa que te permite crear flujos 
    de datos observables y compartir información en tiempo real entre componentes sin importar la relación entre ellos. 
</p>
<br>
<h5>ViewChild y ViewChildren</h5>
<p>
    La comunicación entre componentes utilizando ViewChild y ViewChildren en Angular implica el acceso directo a 
    componentes secundarios dentro de un componente principal. A través de estos métodos, puedes comunicarte 
    directamente con los componentes secundarios, acceder a sus propiedades y métodos, y compartir información. 
</p>
<br>