<div class="container">
    <h1>COMUNICACIÓN RxJs</h1>
    <br>
    <p ng-non-bindable>
        La comunicación entre componentes en Angular utilizando RxJS implica el uso de observables y sujetos 
        (Subjects) para crear un flujo de datos que permita a los componentes compartir información de manera 
        reactiva. En este caso no es obligatorio pero es muy recomendable usar un servicio para realizar la 
        transmision de datos entre componentes en este caso haremos la comunicacion sin servicio y con servicio.
        
    </p>

    <app-hijo4></app-hijo4>
    <br>
    <div class="codigoDestacado">
        <!--
            <pre><code appResaltado [code]="codigoRuta"></code></pre>
        -->
    </div>
    <br>
</div>
