.codigoDestacado {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
  }
  
  /* Estilos personalizados para el código resaltado */
  .codigoDestacado pre {
    margin: 0;
  }
  
  /* Estilos personalizados para las clases generadas por Prism */
  .codigoDestacado pre code {
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
    color: #333;
  }