pre {
    white-space: pre-wrap; /* Ajustar el contenido del cuadro */
}
  
code {
    display: block; /* Hacer que el elemento <code> sea de bloque para ajustar la anchura automáticamente */
}

pre.language-javascript {
    font-size: 12px; /* Tamaño de fuente deseado */
}
  
/* Cambiar el tamaño del texto en la etiqueta <code> */
code.language-javascript {
    font-size: 12px; /* Tamaño de fuente deseado */
}