<div class="container">
    <h1>COMUNICACIÓN INPUT Y OUTPUT</h1>
    <br>
    <p ng-non-bindable>
        Primero insertamos un componente hijo en este componente padre, despues en el componente 
        hijo se agrega el decorador @Input para transmitir informacion del componente padre al 
        componente hijo. Hay que crearse una variable del tipo de informacion que vayas a enviar en cada uno de los componentes.ts
        tanto en el padre como en el hijo y en la etiqueta del hijo la que esta inyectada en el componente padre 
        agregar lo siguiente: [mensajeParaPadre]="mensajePadre", en este caso [mensajeParaPadre] es la variable
        creada en el hijo mientras que mensajePadre es la variable creada en el padre.
    </p>
    <p>Mensaje desde padre a hijo:</p>
    <app-hijo1 [mensajeDesdePadre]="mensajePadre" [objetoPadre]="datosPersonales"></app-hijo1>
    <button (click)="enviarMensajeNuevo()">Cambiar Mensaje Padre</button>
    <br><br>
    <p>Mensaje del Hijo: </p>
    <app-hijo1 (mensajeParaPadre1)="receiveMessage($event)"></app-hijo1>
    <p>{{ mensajeDesdePadre }}</p>
    <br>
    
    <div class="codigoDestacado">
        <pre><code appResaltado [code]="codigoInput"></code></pre>
        <pre><code appResaltado [code]="codigoOutput"></code></pre>
    </div>
    <br>
</div>

