<div class="container">
    <h1>COMUNICACIÓN SERVICIO</h1>
    <br>
    <p ng-non-bindable>
        Lo primero que hay que hacer es crear un servicio que actuara como intermediario para 
        compartir datos entre componentes y debes crear propiedades y metodos en el servicio,
        despues hay que inyectar el servicio en el constructor de los componentes que deeses 
        comunicar. 
    </p>

    <app-hijo2></app-hijo2>
    <br>
    <div class="codigoDestacado">
        <pre><code appResaltado [code]="codigoService"></code></pre>
    </div>
    <br>
</div>
